.vs/slnx.sqlite
.vs/CompukeyWebSite.slnx/FileContentIndex/767baa72-4ebf-4ae4-9b14-9e0f4d411eaa.vsidx
.vs/CompukeyWebSite.slnx/v18/.wsuo
.vs/CompukeyWebSite.slnx/v18/DocumentLayout.backup.json
.vs/VSWorkspaceState.json
.vs/CompukeyWebSite.slnx/v18/DocumentLayout.json
.vs/CompukeyWebSite.slnx/config/applicationhost.config
